<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.mapper.TblRSByHourMapper">
  <resultMap id="BaseResultMap" type="com.cn.entity.TblRSByHour">
    <result column="Record_Time" jdbcType="TIMESTAMP" property="recordTime" />
    <result column="ModelName" jdbcType="NVARCHAR" property="modelname" />
    <result column="StationName" jdbcType="NCHAR" property="stationname" />
    <result column="RobotNo" jdbcType="NVARCHAR" property="robotno" />
    <result column="Building" jdbcType="NCHAR" property="building" />
    <result column="Floor" jdbcType="NCHAR" property="floor" />
    <result column="Area" jdbcType="NCHAR" property="area" />
    <result column="RunTimes" jdbcType="DOUBLE" property="runtimes" />
    <result column="StandbyTimes" jdbcType="DOUBLE" property="standbytimes" />
    <result column="ErrorTimes" jdbcType="DOUBLE" property="errortimes" />
    <result column="Date" jdbcType="TIMESTAMP" property="date" />
    <result column="Hour" jdbcType="NCHAR" property="hour" />
  </resultMap>
  <insert id="insert" parameterType="com.cn.entity.TblRSByHour">
    insert into Robot_Status_ByHour (Record_Time, ModelName, StationName, 
      RobotNo, Building, Floor, 
      Area, RunTimes, StandbyTimes, 
      ErrorTimes, Date, Hour
      )
    values (#{recordTime,jdbcType=TIMESTAMP}, #{modelname,jdbcType=NVARCHAR}, #{stationname,jdbcType=NCHAR}, 
      #{robotno,jdbcType=NVARCHAR}, #{building,jdbcType=NCHAR}, #{floor,jdbcType=NCHAR}, 
      #{area,jdbcType=NCHAR}, #{runtimes,jdbcType=DOUBLE}, #{standbytimes,jdbcType=DOUBLE}, 
      #{errortimes,jdbcType=DOUBLE}, #{date,jdbcType=TIMESTAMP}, #{hour,jdbcType=NCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select Record_Time, ModelName, StationName, RobotNo, Building, Floor, Area, RunTimes, 
    StandbyTimes, ErrorTimes, Date, Hour
    from Robot_Status_ByHour
  </select>
  
  <select id="selectByStatus" resultMap="BaseResultMap">
    select * from (select y.*,k.RobotStatus from (select *  from Robot_Status_ByHour a 
	where exists(select * from (select RobotNo,MAX(b.Record_Time) as FTime from Robot_Status_ByHour b group by RobotNo) x 
	where x.RobotNo = a.RobotNo and a.Record_Time = x.FTime))y,Robot_Status_Now k where y.RobotNo=k.RobotNo) as z
  </select>
  
  <select id="selectByRobotNo" resultType="int">
  	select COUNT(*) from (select y.*,k.RobotStatus from (select *  from Robot_Status_ByHour a 
	where exists(select * from (select RobotNo,MAX(b.Record_Time) as FTime from Robot_Status_ByHour b group by RobotNo) x 
	where x.RobotNo = a.RobotNo and a.Record_Time = x.FTime))y,Robot_Status_Now k where y.RobotNo=k.RobotNo) as z
  </select>
  
  <select id="selectByRunRobotNo" resultType="int">
  	select COUNT(*) from (select y.*,k.RobotStatus from (select *  from Robot_Status_ByHour a 
	where exists(select * from (select RobotNo,MAX(b.Record_Time) as FTime from Robot_Status_ByHour b group by RobotNo) x 
	where x.RobotNo = a.RobotNo and a.Record_Time = x.FTime))y,Robot_Status_Now k where y.RobotNo=k.RobotNo) as z 
	where z.RobotStatus = 'RUNNING'
  </select>
  
  <select id="selectByStanbyRobotNo" resultType="int">
  	select COUNT(*) from (select y.*,k.RobotStatus from (select *  from Robot_Status_ByHour a 
	where exists(select * from (select RobotNo,MAX(b.Record_Time) as FTime from Robot_Status_ByHour b group by RobotNo) x 
	where x.RobotNo = a.RobotNo and a.Record_Time = x.FTime))y,Robot_Status_Now k where y.RobotNo=k.RobotNo) as z 
	where z.RobotStatus = 'STANDBY' and z.StandbyTimes &lt;= 10
  </select>
  
  <select id="selectByErroRobotNo" resultType="int">
  	select COUNT(*) from (select y.*,k.RobotStatus from (select *  from Robot_Status_ByHour a 
	where exists(select * from (select RobotNo,MAX(b.Record_Time) as FTime from Robot_Status_ByHour b group by RobotNo) x 
	where x.RobotNo = a.RobotNo and a.Record_Time = x.FTime))y,Robot_Status_Now k where y.RobotNo=k.RobotNo) as z 
	where z.RobotStatus = 'ERROR' and z.ErrorTimes &lt;= 30
  </select>
  
  <select id="selectByShutdownRobotNo" resultType="int">
  	select COUNT(*) from (select y.*,k.RobotStatus from (select *  from Robot_Status_ByHour a 
	where exists(select * from (select RobotNo,MAX(b.Record_Time) as FTime from Robot_Status_ByHour b group by RobotNo) x 
	where x.RobotNo = a.RobotNo and a.Record_Time = x.FTime))y,Robot_Status_Now k where y.RobotNo=k.RobotNo) as z 
	where z.RobotStatus = 'ERROR' and z.ErrorTimes>30 or z.RobotStatus='STANDBY' and z.StandbyTimes >10
  </select>
 
  <select id="selectAllRobotNoByCustomerName" resultMap="BaseResultMap">
    select * from (select y.*,k.RobotStatus from (select *  from Robot_Status_ByHour a 
	where exists(select * from (select RobotNo,MAX(b.Record_Time) as FTime from Robot_Status_ByHour b group by RobotNo) x 
	where x.RobotNo = a.RobotNo and a.Record_Time = x.FTime))y,Robot_Status_Now k where y.RobotNo=k.RobotNo) as z 
	where RobotNo in( select a.RobotNo from Robot_Info a where a.CustomerName=(
	select c.id  from Customer_Name c where c.CustomerName='${customername}') group by a.RobotNo)
  </select>
  
  <select id="selectAllRunRobotNoByCustomerName" resultMap="BaseResultMap">
    select * from (select y.*,k.RobotStatus from (select *  from Robot_Status_ByHour a 
	where exists(select * from (select RobotNo,MAX(b.Record_Time) as FTime from Robot_Status_ByHour b group by RobotNo) x 
	where x.RobotNo = a.RobotNo and a.Record_Time = x.FTime))y,Robot_Status_Now k where y.RobotNo=k.RobotNo) as z 
	where z.RobotStatus = 'RUNNING' and RobotNo in( select a.RobotNo from Robot_Info a where a.CustomerName=(
	select c.id  from Customer_Name c where c.CustomerName='${customername}') group by a.RobotNo)
  </select>
  
  <select id="selectAllStanbyRobotNoByCustomerName" resultMap="BaseResultMap">
  	select * from (select y.*,k.RobotStatus from (select *  from Robot_Status_ByHour a 
	where exists(select * from (select RobotNo,MAX(b.Record_Time) as FTime from Robot_Status_ByHour b group by RobotNo) x 
	where x.RobotNo = a.RobotNo and a.Record_Time = x.FTime))y,Robot_Status_Now k where y.RobotNo=k.RobotNo) as z 
	where z.RobotStatus = 'STANDBY' and z.StandbyTimes &lt;= 10 and RobotNo in( select a.RobotNo from Robot_Info a where a.CustomerName=(
	select c.id  from Customer_Name c where c.CustomerName='SONY') group by a.RobotNo)
  </select>
  
  <select id="selectModelNameFun" resultType="String">
  	SELECT ModelName FROM Model_Type
  </select>
  
  <select id="selectRobotNoFun" resultType="String">
  	SELECT Robot_Status_Now.RobotNo FROM Robot_Status_Now where ModelName = #{modelname}
  </select>
  
</mapper>