<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.mapper.TblRTWorkInfoMapper">
  <resultMap id="BaseResultMap" type="com.cn.entity.TblRTWorkInfo">
    <result column="RobotNo" jdbcType="NVARCHAR" property="robotno" />
    <result column="TesterNum" jdbcType="NCHAR" property="testernum" />
    <result column="Tester_IP" jdbcType="NVARCHAR" property="testerIp" />
    <result column="Status" jdbcType="NVARCHAR" property="status" />
    <result column="TotalTest" jdbcType="INTEGER" property="totaltest" />
    <result column="PassNum" jdbcType="INTEGER" property="passnum" />
    <result column="FailNum" jdbcType="INTEGER" property="failnum" />
    <result column="FENum" jdbcType="INTEGER" property="fenum" />
    <result column="SFCErrNum" jdbcType="INTEGER" property="sfcerrnum" />
    <result column="RepairTime" jdbcType="DOUBLE" property="repairtime" />
    <result column="Put_NG" jdbcType="INTEGER" property="putNg" />
    <result column="FirstPS_NG" jdbcType="INTEGER" property="firstpsNg" />
    <result column="Put_OK" jdbcType="INTEGER" property="putOk" />
    <result column="Date_Time" jdbcType="TIMESTAMP" property="dateTime" />
    <result column="Station" jdbcType="NVARCHAR" property="station" />
    <result column="Model" jdbcType="NVARCHAR" property="model" />
  </resultMap>
  <insert id="insert" parameterType="com.cn.entity.TblRTWorkInfo">
    insert into Robot_Tester_WorkInfo (RobotNo, TesterNum, Tester_IP, 
      Status, TotalTest, PassNum, 
      FailNum, FENum, SFCErrNum, 
      RepairTime, Put_NG, FirstPS_NG, 
      Put_OK, Date_Time, Station, 
      Model)
    values (#{robotno,jdbcType=NVARCHAR}, #{testernum,jdbcType=NCHAR}, #{testerIp,jdbcType=NVARCHAR}, 
      #{status,jdbcType=NVARCHAR}, #{totaltest,jdbcType=INTEGER}, #{passnum,jdbcType=INTEGER}, 
      #{failnum,jdbcType=INTEGER}, #{fenum,jdbcType=INTEGER}, #{sfcerrnum,jdbcType=INTEGER}, 
      #{repairtime,jdbcType=DOUBLE}, #{putNg,jdbcType=INTEGER}, #{firstpsNg,jdbcType=INTEGER}, 
      #{putOk,jdbcType=INTEGER}, #{dateTime,jdbcType=TIMESTAMP}, #{station,jdbcType=NVARCHAR}, 
      #{model,jdbcType=NVARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select RobotNo, TesterNum, Tester_IP, Status, TotalTest, PassNum, FailNum, FENum, 
    SFCErrNum, RepairTime, Put_NG, FirstPS_NG, Put_OK, Date_Time, Station, Model
    from Robot_Tester_WorkInfo
  </select>
  
  <select id="selectPassNum" resultType="Integer" parameterType="String">
    SELECT sum(a.PassNum) from Robot_Tester_WorkInfo a where a.RobotNo='${robotno}' and a.Date_Time between '${starDate}' and '${endDate}'
  </select>
  
  <select id="selectPutNg" resultType="Integer" parameterType="String">
    SELECT sum(a.Put_NG) from Robot_Tester_WorkInfo a where a.RobotNo='${robotno}' and a.Date_Time between '${starDate}' and '${endDate}'
  </select>
  
  <select id="selectFailNum" resultType="Integer" parameterType="String">
    SELECT sum(a.FailNum) from Robot_Tester_WorkInfo a where a.RobotNo='${robotno}' and a.Date_Time between '${starDate}' and '${endDate}'
  </select>
  
  <select id="selectMaxDate" resultType="java.util.Date">
  	select  Max(Date_Time)Date_Time  from Robot_Tester_WorkInfo
  </select>
  
  <select id="selectPassNumbyHour" resultType="com.cn.entity.TblProduceByHour" parameterType="String">
    select a.RobotNo, sum(PassNum)PassNum,DATEPART(HH,a.Date_Time)hour from Robot_Tester_WorkInfo a
    where RobotNo = '${robotno}' and  Date_Time between '${startDate}' and '${endDate}'
     group by a.RobotNo, DATEPART(HH,a.Date_Time) order by hour
  </select>
  
  <select id="selectFailNumbyHour" resultType="Integer" parameterType="String">
    select  sum(FailNum)FailNum  from Robot_Tester_WorkInfo where RobotNo = '${robotno}' and  Date_Time between '${startDate}' and '${endDate}'
  </select>
  
  <select id="selectPut_NGbyHour" resultType="Integer" parameterType="String">
    select  sum(Put_NG)Put_NG  from Robot_Tester_WorkInfo where RobotNo = '${robotno}' and  Date_Time between '${startDate}' and '${endDate}'
  </select>
  
  <select id="selectNewDayTimeByDay" resultType="java.util.Date">
  	select Max(Date_Time) from Robot_Tester_WorkInfo where RobotNo = '${robotno}'
  </select>
  
  <select id="selectTesterStatus" resultType="com.cn.entity.TblTesterStatus">
  	select Tester_IP,status,PassNum from Robot_Tester_WorkInfo where Date_Time = '${strNewDayTime}' and RobotNo = '${robotno}' and TesterNum in(select TesterNum from Robot_Tester_WorkInfo where RobotNo = '${robotno}') order by TesterNum
  </select>
  
  <select id="selectWorkInfoSum" resultType="com.cn.entity.TblWorkInfoSumData">
  	SELECT TesterNum,sum(w.RepairTime)/60 RepairTime,sum(w.PassNum) PassNum,sum(w.Put_NG) Put_NG,sum(w.FailNum) FailNum,sum(w.SFCErrNum) SFCErrNum,sum(w.FirstPS_NG) FirstPS_NG,sum(w.Put_OK) Put_OK  FROM Robot_Tester_WorkInfo w 
	where w.Date_Time between '${startTime}' and '${endTime}' and w.RobotNo = '${robotNo}' group by TesterNum order by TesterNum
  </select>
  
  <select id="selectTesterRepairNum" resultType="com.cn.entity.RepairNum">
  	SELECT w.TesterNum,count(RepairTime)RepairNum  FROM Robot_Tester_WorkInfo w 
	where w.Date_Time between '${startTime}' and '${endTime}' and w.RobotNo = '${robotNo}' and w.RepairTime &gt; '0' group by TesterNum order by w.TesterNum
  </select>
  
  <select id="selectNewDayTimeByHour" resultType="java.util.Date">
  	select Max(Date_Time) from Robot_Tester_WorkInfo where RobotNo = '${robotNo}' and Date_Time between '${startTime}' and '${endTime}'
  </select>
  
</mapper>